<launch>
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->

    <arg name="rviz" default="true" />
    <arg name="pub_body_to_imu" default="true"/>

    <!-- Pub tf from body to imu frame -->
    <node name="static_tf_body_to_imu" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 body imu_link" output="screen"/>

    <rosparam command="load" file="$(find point_cloud_colorizer)/io/config/fast_lio_params.yml" />

    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 

    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find point_cloud_colorizer)/io/rviz/fast_lio.rviz" />
    </group>

</launch>