<?xml version="1.0"?>
<launch>
    <!-- launch point cloud colorizer node with configure file-->
    <node name="point_cloud_colorizer_node" pkg="point_cloud_colorizer" type="point_cloud_colorizer_node" output="screen">
        <rosparam file="$(find point_cloud_colorizer)/io/config/point_cloud_colorizer_params.yml"/>
    </node>

    <!-- laucnh usb cam node -->
    <include file="$(find point_cloud_colorizer)/launch/usb_cam.launch"/>
    
    <!-- launch vlp16 node -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    
    <!-- Rviz -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find point_cloud_colorizer)/io/rviz/point_cloud_colorizer.rviz"/>
</launch>
