<?xml version="1.0"?>
<launch>
    <arg name="pub_map_to_velodyne" default="true"/>
    <arg name="rviz_file" default="$(find point_cloud_colorizer)/io/rviz/velodyne.rviz"/>

    <!-- camera -->
    <include file="$(find point_cloud_colorizer)/launch/webcam_node.launch"/>

    <!-- velodyne -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />
    
    <!-- point cloud colorizer -->
    <node name="point_cloud_colorizer_node" pkg="point_cloud_colorizer" type="point_cloud_colorizer_node" output="screen">
        <rosparam file="$(find point_cloud_colorizer)/io/config/point_cloud_colorizer_params.yml"/>
        <rosparam file="$(find point_cloud_colorizer)/io/config/points_4_evaluate.yml"/>
    </node>
    
    <!-- Rviz -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find point_cloud_colorizer)/io/rviz/camera_calibration.rviz"/> -->
    <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rviz_file)"/>

    <!-- TF to center point cloud -->
    <node if="$(arg pub_map_to_velodyne)" name="map_to_velodyne" pkg="tf2_ros" type="static_transform_publisher" args="-5 0 0 0 0 0 map velodyne" output="screen"/>    
</launch>
